{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="form">
  <div class="title">Bienvenido {{ user.username }}!</div>
  <button type="button" class="submit" onclick="location.href='{% url 'sensitive-victim-data' %}'">Ver datos sensibles</button>
  <button type="button" class="submit" onclick="location.href='{% url 'logout' %}'">Cerrar sesión</button>
</div>
{% else %}
<div class="form">
  <div class="title">Bienvenido</div>
  <div class="subtitle">No estás loggueado</div>
  <button type="button" class="submit" onclick="location.href='{% url 'login' %}'">Log in</button>
</div>
{% endif %}
{% endblock %}